<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
file_nested_list = pd.read_csv(DATA_FILE, sep='\t')

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [4]:
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
 file_nested_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
 file_nested_list.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [7]:
 file_nested_list['item_price_int'] = file_nested_list['item_price'].apply(lambda x: x.replace('$', '').replace(',', '')
                                if isinstance(x, str) else x).astype(float)

In [8]:
# fix price column-change to float

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [8]:
file_nested_list['quantity'].value_counts()

1     4355
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: quantity, dtype: int64

In [9]:
file_nested_list['item_price_per_order'] = file_nested_list['item_price_int'] / file_nested_list['quantity']

In [10]:
file_nested_list['item_price_per_order'].mean()

7.084424491562234

In [12]:
# final avg price per order is $7.08

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [11]:
file_nested_list['choice_description'].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

In [12]:
file_nested_list['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [13]:

condition = file_nested_list['item_name'].str.lower().str.contains('soda') | file_nested_list['item_name'].str.lower().str.contains('soft drink')
# s1.str.contains('og', na=False, regex=True)

sodas = file_nested_list[condition]

In [14]:
unique_sodes = sodas['choice_description'].unique()

In [15]:
unique_sodes

array(['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Diet Dr. Pepper]',
       '[Coca Cola]', '[Diet Coke]', '[Coke]', '[Lemonade]', '[Nestea]'],
      dtype=object)

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [16]:
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_int,item_price_per_order
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49

In [17]:
# condition = file_nested_list['item_name'].str.lower().str.contains('soda') | file_nested_list['item_name'].str.lower().str.contains('soft drink')
condition2 = file_nested_list['item_name'].str.lower().str.contains('burrito') 

burritos= file_nested_list[condition2]

In [18]:
burritos.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_int,item_price_per_order
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25,9.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49,8.49,8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99

In [22]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [29]:
#remove the extra '[' and ']' from the item
burritos['choice_description_2'] = burritos['choice_description'].str.replace('[', '').replace(']', '')


# df['column name'] = df['column name'].str.replace('old character','new character')

/var/folders/kz/klxfgxt54zg3ld3hw3501lf80000gp/T/ipykernel_54192/1583006201.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  burritos['choice_description_2'] = burritos['choice_description'].str.replace('[', '').replace(']', '')
/var/folders/kz/klxfgxt54zg3ld3hw3501lf80000gp/T/ipykernel_54192/1583006201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burritos['choice_description_2'] = burritos['choice_description'].str.replace('[', '').replace(']', '')

In [30]:
burritos['choice_description_2']

7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
                              ...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
Name: choice_description_2, Length: 1172, dtype: object

In [33]:
#split the string out by commas into a list
burritos['choice_description_list'] = burritos['choice_description_2'].str.split(',')

/var/folders/kz/klxfgxt54zg3ld3hw3501lf80000gp/T/ipykernel_54192/216247156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burritos['choice_description_list'] = burritos['choice_description_2'].str.split(',')

In [36]:
# count the length of the list to get total toppings
y

/var/folders/kz/klxfgxt54zg3ld3hw3501lf80000gp/T/ipykernel_54192/3523860570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burritos['toppings_n'] = burritos['choice_description_list'].apply(lambda x: len(x))

In [38]:
# check that this worked.
burritos.to_csv('/Users/hannah.westberg/Desktop/test.csv')

In [39]:
# get avg number of toppings
burritos['toppings_n'].mean()
# avg number of toppings is 5.4

5.395051194539249

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [40]:
file_nested_list.head()

   order_id  quantity                              item_name                                 choice_description item_price  item_price_int  item_price_per_order
0         1         1           Chips and Fresh Tomato Salsa                                                NaN     $2.39             2.39                  2.39
1         1         1                                   Izze                                       [Clementine]     $3.39             3.39                  3.39
2         1         1                       Nantucket Nectar                                            [Apple]     $3.39             3.39                  3.39
3         1         1  Chips and Tomatillo-Green Chili Salsa                                                NaN     $2.39             2.39                  2.39
4         2         2                           Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98            16.98                  8.49

In [43]:
# create a df just for chips
chips = file_nested_list[file_nested_list['item_name'].str.contains('Chip')]

>> df.set_index('ID').T.to_dict('list')
{'p': [1, 3, 2], 'q': [4, 3, 2], 'r': [4, 0, 9]}

In [60]:
chip_orders= pd.DataFrame(chips.groupby('item_name')['quantity'].sum())

In [62]:
chip_orders_dict = chip_orders.to_dict()

In [63]:
chip_orders_dict

{'quantity': {'Chips': 230,
  'Chips and Fresh Tomato Salsa': 130,
  'Chips and Guacamole': 506,
  'Chips and Mild Fresh Tomato Salsa': 1,
  'Chips and Roasted Chili Corn Salsa': 23,
  'Chips and Roasted Chili-Corn Salsa': 18,
  'Chips and Tomatillo Green Chili Salsa': 45,
  'Chips and Tomatillo Red Chili Salsa': 50,
  'Chips and Tomatillo-Green Chili Salsa': 33,
  'Chips and Tomatillo-Red Chili Salsa': 25,
  'Side of Chips': 110}}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [66]:
# what's the most expensive order?
file_nested_list['item_price_int'].max()

44.25

In [67]:
file_nested_list[file_nested_list['item_price_int'] == 44.25]

      order_id  quantity                     item_name choice_description item_price  item_price_int  item_price_per_order
3598      1443        15  Chips and Fresh Tomato Salsa                NaN    $44.25            44.25                  2.95