In [1]:
# imports 
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    'Name': ['Jack', 'John', 'Jill', 'Jane', 'Jorge', 'Joe'],
    'Age': [23, 45, 68, 29, 21, 37],
    'ID': [1, 2, 3, 4, 5, 6]
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4, 6, 8, 10],
    'Name': ['John', 'Jill', 'Jason', 'Jackson', 'Jesse', 'Joe'],
    'Rating': [13.8, 15.1, 9.6, 23.6, 33.5, 7.6]
})

In [8]:
df1.merge(df2, left_on = ['Name', 'ID'], right_on = ['Name', 'ID'])

   Name  Age  ID  Rating
0  John   45   2    13.8
1  Jill   68   3    15.1