# Series
- in pandas a series is an array
- it has an index - it will be numeric by default, but it can be set to something else

In [6]:
import pandas as pd

In [8]:
# you can assign the index by passing a list to the index object
obj1 = pd.Series([1, 3, 5, 7], index=['a', 'b', 'c', 'd'])

In [11]:
obj1
obj1['a']
obj1[['a', 'c', 'b']]

a    1
c    5
b    3
dtype: int64

In [12]:
# applying operations will keep the index the same:
obj1 * 4

a     4
b    12
c    20
d    28
dtype: int64

In [14]:
# you can also look for values in a series, like a dict
'a' in obj1
'z' in obj1

False

In [18]:
# you can also create a series from a dict:

dict_data = {'Hannah': 'middle', 'Josh': 'eldest', 'Kate': 'youngest'}
sibs = pd.Series(dict_data)

In [22]:
# You can name a series
sibs.name = 'westberg_siblings'

In [23]:
sibs

Hannah      middle
Josh        eldest
Kate      youngest
Name: westberg_siblings, dtype: object

In [25]:
# you can also re-assign the index after it has been created:
sibs.index = ['han', 'joosh', 'kat']

In [26]:
sibs

han        middle
joosh      eldest
kat      youngest
Name: westberg_siblings, dtype: object

# Dataframe
- table of data with ordered columns if dif value types
- rows and columns both have indexes.

In [31]:
# you can build a df from a dict:
data={'breed':['yorkie', 'lab', 'chihuaha', 'mutt'],
      'weight':[14, 50, 5, 35],
      'color':['black', 'gold', 'brown', 'merle']}

df = pd.DataFrame(data)

df

      breed  weight  color
0    yorkie      14  black
1       lab      50   gold
2  chihuaha       5  brown
3      mutt      35  merle

In [33]:
# retrieve a column by dict notation or attribute:
df['breed']
df.breed

0      yorkie
1         lab
2    chihuaha
3        mutt
Name: breed, dtype: object

In [36]:
# get a row by loc
df.loc[2]

breed     chihuaha
weight           5
color        brown
Name: 2, dtype: object

In [41]:
# creating a column
df['pct_fat'] = df['weight'] * .04
df

      breed  weight  color  pct_fat
0    yorkie      14  black     0.56
1       lab      50   gold     2.00
2  chihuaha       5  brown     0.20
3      mutt      35  merle     1.40

In [42]:
#deleting a column
del df['pct_fat']

In [43]:
df

      breed  weight  color
0    yorkie      14  black
1       lab      50   gold
2  chihuaha       5  brown
3      mutt      35  merle

In [44]:
#transpose df
df.T

             0     1         2      3
breed   yorkie   lab  chihuaha   mutt
weight      14    50         5     35
color    black  gold     brown  merle

In [46]:
df.columns

'breed' in df.columns

True

# Essential Functions

In [50]:
# reindexing
obj= pd.Series([4.5, 7.2, -5.3, 3.6], ['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [53]:
# reindexing will rearrange the data and inset nulls where there was no previous index:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])b
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [54]:
#drop a row
new_obj = obj2.drop('c')

In [55]:
new_obj

a   -5.3
b    7.2
d    4.5
e    NaN
dtype: float64