In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Load Data Sets

### articles

In [6]:
articles = pd.read_csv('../data/processed/articles_promo_group.csv')

In [7]:
articles.head()

,Unnamed: 0,HEADLINE,HEADLINE_LEN,PUBLISH_DATE,DAY_OF_WEEK,PUBLISH_MONTH,PUBLISHTIMEINSECONDS,WEEKDAY,HOLIDAY,BUREAU,ARTICLE_TYPE,PROMO,CUM_SESSIONS_SOFAR,HEADLINE_GROUP,PROMO_GROUP
0,0,2 under-the-radar tech stocks to buy in 2022,45,2022-04-12,1,4,22740,Weekday,No,technology-and-telecom,article,These two companies an enjoying explosive top-...,207,7,1
1,1,does it matter that gamestop's split will be a...,63,2022-04-12,1,4,32400,Weekday,No,consumer-goods,article,Just how different is it from a cash dividend?,5811,3,3
2,2,is amazon stock a buy this month?,34,2022-04-12,1,4,38220,Weekday,No,consumer-goods,article,There are strong reasons to invest in Amazon r...,1637,3,1
3,3,2 stocks that cut you a check each month,41,2022-04-12,1,4,33420,Weekday,No,industrials,article,"For some investors, dividend income that flows...",2037,2,5
4,4,is amazon or alphabet the better stock split i...,57,2022-04-12,1,4,62220,Weekday,No,technology-and-telecom,article,Both companies dominate much of our digital li...,7682,3,3

In [25]:
articles.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
articles.head()

,HEADLINE,HEADLINE_LEN,PUBLISH_DATE,DAY_OF_WEEK,PUBLISH_MONTH,PUBLISHTIMEINSECONDS,WEEKDAY,HOLIDAY,BUREAU,ARTICLE_TYPE,PROMO,CUM_SESSIONS_SOFAR,HEADLINE_GROUP,PROMO_GROUP
0,2 under-the-radar tech stocks to buy in 2022,45,2022-04-12,1,4,22740,Weekday,No,technology-and-telecom,article,These two companies an enjoying explosive top-...,207,7,1
1,does it matter that gamestop's split will be a...,63,2022-04-12,1,4,32400,Weekday,No,consumer-goods,article,Just how different is it from a cash dividend?,5811,3,3
2,is amazon stock a buy this month?,34,2022-04-12,1,4,38220,Weekday,No,consumer-goods,article,There are strong reasons to invest in Amazon r...,1637,3,1
3,2 stocks that cut you a check each month,41,2022-04-12,1,4,33420,Weekday,No,industrials,article,"For some investors, dividend income that flows...",2037,2,5
4,is amazon or alphabet the better stock split i...,57,2022-04-12,1,4,62220,Weekday,No,technology-and-telecom,article,Both companies dominate much of our digital li...,7682,3,3

### gtrends by bureau

In [23]:
gtrends = pd.read_csv('../data/processed/gtrends.csv')

In [24]:
gtrends

      Unnamed: 0        date           variable  value                  bureau
0              0  2021-01-03  technology stocks   61.0  technology-and-telecom
1              1  2021-01-04  technology stocks   61.0  technology-and-telecom
2              2  2021-01-05  technology stocks   61.0  technology-and-telecom
3              3  2021-01-06  technology stocks   61.0  technology-and-telecom
4              4  2021-01-07  technology stocks   61.0  technology-and-telecom
...          ...         ...                ...    ...                     ...
5889        5889  2022-02-23      stocks to buy   13.0                general2
5890        5890  2022-02-24      stocks to buy   13.0                general2
5891        5891  2022-02-25      stocks to buy   13.0                general2
5892        5892  2022-02-26      stocks to buy   13.0                general2
5893        5893  2022-02-27      stocks to buy   12.0                general2

[5894 rows x 5 columns]

In [27]:
gtrends.drop('Unnamed: 0', axis=1, inplace=True)

In [29]:
gtrends

            date           variable  value                  bureau
0     2021-01-03  technology stocks   61.0  technology-and-telecom
1     2021-01-04  technology stocks   61.0  technology-and-telecom
2     2021-01-05  technology stocks   61.0  technology-and-telecom
3     2021-01-06  technology stocks   61.0  technology-and-telecom
4     2021-01-07  technology stocks   61.0  technology-and-telecom
...          ...                ...    ...                     ...
5889  2022-02-23      stocks to buy   13.0                general2
5890  2022-02-24      stocks to buy   13.0                general2
5891  2022-02-25      stocks to buy   13.0                general2
5892  2022-02-26      stocks to buy   13.0                general2
5893  2022-02-27      stocks to buy   12.0                general2

[5894 rows x 4 columns]

### S and P 500

In [17]:
sp = pd.read_csv('../data/processed/snp_filled.csv')

In [18]:
sp.head()

         DATE      VAL
0  2019-01-01      NaN
1  2019-01-02  2510.03
2  2019-01-03  2447.89
3  2019-01-04  2531.94
4  2019-01-05  2531.94